<?xml version="1.0"?>
<launch>

    
    <param command="$(find xacro)/xacro --inorder $(find robo_description)/URDF/robo.xacro" name="robot_description"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>

    <node name="rviz" pkg="rviz" type="rviz">
    </node>

</launch>